CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="luci-app-athena-led luci-i18n-athena-led-zh-cn"

CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_PACKAGE_luci-app-openlist2=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# ================== 启用 ZRAM 功能 ==================
# 启用 zram-swap 软件包（自带开机自启服务，自动将 ZRAM 挂载为 Swap）
CONFIG_PACKAGE_zram-swap=y

# ================== USB DAC 声音驱动 ==================
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-audio-uac2=y
CONFIG_PACKAGE_alsa-utils=y

# ================== 本地音乐播放服务 (MPD) ==================
# MPD 核心服务
CONFIG_PACKAGE_mpd=y
# MPD 的 ALSA 输出插件（必须选，负责把声音送给 USB DAC）
CONFIG_PACKAGE_mpd-alsa=y

# MPD 常见解码库支持（确保能播放你的音乐格式）
CONFIG_PACKAGE_mpd-flac=y      # 无损 FLAC
CONFIG_PACKAGE_mpd-wavpack=y   # 无损 WavPack (.ape/.wv)
CONFIG_PACKAGE_mpd-libmad=y    # MP3
CONFIG_PACKAGE_mpd-libvorbis=y # OGG
CONFIG_PACKAGE_mpd-faac=y      # AAC/M4A
CONFIG_PACKAGE_mpd-ffmpeg=y    # 万能解码器（上述不支持的格式交给它）

# 可选：如果你想让手机依然能 AirPlay 推流，可以保留下面这两个
# CONFIG_PACKAGE_shairport-sync=y
# CONFIG_PACKAGE_shairport-sync-alsa=y
